@import "../../global.scss";

.contact {
  background-color: #1f2833;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;
    text-align: center;
    align-items: center;

    // border: 1px solid red;

    img {
      height: 50%;
      width: 63%;
      // margin-left: 190px;
      margin-top: 110px;

      @include mobile {
        margin-top: 50px;
        // margin-left: 90px;
      }
    }
    .links {
      margin-left: 20%;
      text-align: center;
      align-items: center;
      display: flex;
      height: 100px;
      // border: 1px solid red;
      vertical-align: middle;
      margin-top: 60px;
      justify-content: space-between;
      margin-right: 50px;
      @include mobile {
        margin-top: 50px;
        margin-left: 40px;
        margin-top: 30px;
        // margin-left: 90px;
      }

      div {
        color: white;
        transition: all 0.3s ease;
        padding: auto;

        a {
          color: inherit;
          transition: all 0.1s ease;

          * {
            transition: all 0.3s ease;
            &:hover {
              font-size: 65px;
              #linkedin {
                color: #0a66c2;
              }
            }
          }
        }
        // border: 1px solid red;

        * {
          font-size: 45px;
        }

        &:hover {
          #linkedin {
            color: #0a66c2;
          }
          #mail {
            color: #e34034;
          }
          #git {
            color: #ee9105;
          }
          #phone {
            color: #028600;
          }
          #twitter {
            color: #1a8cd8;
          }
        }
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
      color: white;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 290px;
        height: 30px;
        font-size: 14px;
        padding-left: 10px;
        border-radius: 10px;
      }

      textarea {
        width: 280px;
        height: 180px;
        font-size: 14px;
        padding: 10px;
        border-radius: 10px;
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: rgb(1, 238, 1);
      }
    }
  }
}
