@import "../../global.scss";

.contact {
  background-color: #1f2833;
  display: flex;

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 50%;
      width: 63%;
      margin-left: 190px;
      margin-top: 110px;
    }
    .links {
      margin-left: 140px;
      display: flex;
      margin-top: 60px;

      div {
        margin-left: 60px;
        color: white;

        * {
          color: white;
          font-size: 45px;
        }
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
      color: white;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 290px;
        height: 30px;
        font-size: 14px;
        padding-left: 10px;
        border-radius: 10px;
      }

      textarea {
        width: 280px;
        height: 180px;
        font-size: 14px;
        padding: 10px;
        border-radius: 10px;
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
      }
    }
  }
}
